*{
    margin:0 auto;
    font-family:'Trebuchet MS';
 
}

body {
    background:#f5f5f5;
}

#tudo {
    margin-top:50px;
    width:1000px;
}

#anuncioSlider {
    height:560px;    
}

#imageSlider {
    height:500px;
    overflow:hidden;
}

#titulo {
    padding:10px 0;
}

#titulo .titulo{
    font-size:26px;
}

#principal {
    float: left;
    width:240px;
    margin:0 10px 0 0;
    padding:10px;
    border-radius: 4px;
   
    background: #00336b; /* Old browsers */
    background: -moz-linear-gradient(top,  #00336b 0%, #1e5799 0%, #2a81b7 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00336b), color-stop(0%,#1e5799), color-stop(99%,#2a81b7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00336b 0%,#1e5799 0%,#2a81b7 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00336b 0%,#1e5799 0%,#2a81b7 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00336b 0%,#1e5799 0%,#2a81b7 99%); /* IE10+ */
    background: linear-gradient(to bottom,  #00336b 0%,#1e5799 0%,#2a81b7 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00336b', endColorstr='#2a81b7',GradientType=0 ); /* IE6-9 */
    color:#f5f5f5;
    font-weight:bold;
}

.clear {
    clear:both;
}

#principal ul{
    list-style:none;
    padding:0;
}

#infoAdic {    
    width:700px;
    margin-left:270px;
     border: 1px solid #A4BACA;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);	
}
#opcionais {    
    padding:10px;
    border-top:1px solid #D8D9DA;    
}

#anunciante {
 padding:10px;
 border-bottom:1px solid #f5f5f5;
    
}

input[type="submit"]::-moz-focus-inner{
  border: 0;
}

#botoes {
    padding:4px 0 10px 0;
}

#propostaButton:active{
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.36),0 1px 0 rgba(255,255,255,0.15);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.36),0 1px 0 rgba(255,255,255,0.15);
  box-shadow: inset 0 2px 4px #000,0 1px 0 #ccc;
  border:0;
  outline:none;
}

input[type=text], select
{
    font-size:14px;  
    text-decoration: none;    
    background-repeat: repeat-x;
    border-radius: 5px; /*up to date browsers support this, but you can add prefixes if you want*/    
}

input, select {
    outline:none; 
    border:0;
}
#propostaButton {  
  border-radius:0 12px 0 12px;
  border:1px solid #000; 
  width:240px;  
  height:40px;
  background: #ff3019; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
  color:#F5F5F5;
  font-weight:bold;
  font-size:18px;
  text-shadow: 0 1px 1px #1e693f;
  cursor:pointer;
}
