* {
    margin:0 auto;
    font-family:'Trebuchet MS';
}

a {
    text-decoration:none;
    color:#000;
}

#tudoTopo {
    margin-top:55px;
    width:1000px;
  
    
}

#anuncioPrincipal{
    border:none;
    float:right; 
    height:250px; 
    width:650px;  
    padding:0  10px 10px 10px;  
}

#pesquisaPrincipal {
    padding:10px;
    width:300px;
    float:left; 
    background-color:#007fd9;
    border-radius:0 0 0 1em;
    height:500px;
}

#pesquisaPrincipal span, input{
    margin:10px 0;
}

#patrocinio{
      margin:14px 10px 10px 10px;
      height:220px; 
      width:652px;
      overflow:hidden;
      float:right;      
}

.clear{
    clear:both;
}

#maisAnuncios {
   width:124px  ;
   position:absolute;
   bottom:0;
   left:50%;
   margin-left:-62px;
   height:50px;
    
}
#maisAnuncios p{
    float:left;
}

#maisAnuncios img{
    float: right;
    margin-top:5px;
}
#listaAnuncios {
    width:1000px;
}

#listaAnuncios ul{

    list-style:none;
}


#listaAnuncios ul li{
    display:inline-block;
    margin:0 10px 10px 0 ;
    border:3px solid #6f8ea4;
}


.descricaoAnuncio {
    height:220px;    
   
}
